.upload-line--lmr {
  border-top: 2px solid rgba(63, 81, 181, 0.5);
}

.absorbing-column {
  width: 100%;
}

.form-lmr-child td > input {
  width: 100px;
}

.form-lmr-child td > select {
  width: 100px;
}

.row-alert-fixed .alert {
  z-index: 1;
  position: fixed;
  top: 75px;
}

input[readonly] {
  background-color: #f2f2f2;
}

input[type="text"]:disabled {
  background: #f2f2f2;
  color: #333333;
}
